@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
/* 
- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 500, 700 
*/
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
body {
  background-color: #eaf1f7;
}
main {
  min-height: 100vh;
  display: flex;
}
h1 {
  color: var(--very-dark-grayish-blue);
}
p {
  color: var(--desaturated-dark-blue);
}
p,
h1 {
  margin-bottom: 1rem;
}
li {
  list-style: none;
}

.article-card {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
}

.profile-info h3 {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 600;
}

.profile-info span {
  color: var(--desaturated-dark-blue);
}
.profile-img {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: -25;
}

.profile .profile-details {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.share-btn {
  --size: 45px;
  width: var(--size);
  height: var(--size);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  position: relative;
  bottom: 0;
  background-color: #ebf2fa; /* Original color */
  transition: background-color 0.3s ease-in-out;
}

.share-btn img {
  --size: 23px;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
}

.social-links {
  background-color: var(--very-dark-grayish-blue);
  display: flex;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 76px;
  width: 327px;
  position: absolute;
  padding-inline: 1rem;
  bottom: -100px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  transition: bottom 0.35s ease-in-out;
}
.social-links .links {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-left: 0.5rem;
}
.social-links span {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--desaturated-dark-blue);
}

.active {
  bottom: -20px;
  opacity: 1;
  pointer-events: auto;
}

.share-active {
  background-color: #6e8098;
}

.share-active-img img {
  filter: brightness(10);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive media queries */
/* Mobile 390px-600px; */
@media only screen and (max-width: 390px) {
  h1 {
    font-size: 1.2rem;
    line-height: 1.4;
    color: var(--very-dark-grayish-blue);
    font-weight: 800;
  }
  p {
    font-size: 0.9rem;
    color: var(--desaturated-dark-blue);
  }
  p,
  h1 {
    margin-bottom: 1rem;
  }
  .article-card {
    width: 327px;
    place-items: center;
    margin-block: 0;
    padding-bottom: 1.5rem;
  }
  .inner-article-content {
    padding: 1rem;
  }

  .drawer-img {
    height: 200px;
    width: 327px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-bottom: 1rem;
  }
}

/* Tablet 768px */
@media only screen and (min-width: 391px) and (max-width: 768px) {
  .article-card {
    display: flex;
    width: 100%;
    max-width: 700px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    overflow: visible;
    /* padding: 1rem; */
    background-color: white;
    margin-top: 25%;
  }
  .article-content {
    display: flex;
  }
  .article-content .inner-article-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .drawer-img {
    width: 229px;
    height: 346px;
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
  }

  .profile-details {
    margin-left: -150px;
  }

  .share-btn {
    left: 150;
  }
  .active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  .social-links {
    width: 250px;
    justify-content: center;
    bottom: 4rem;
    right: -35rem;
    border-radius: 1rem;
    height: 50px;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: none;
  }

  .triangle {
    --width: 23px;
    width: 0;
    height: 0;
    border-left: var(--width) solid transparent;
    border-right: var(--width) solid transparent;
    border-top: var(--width) solid var(--very-dark-grayish-blue);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.9rem;
  }
}

/* Desktop size 992px, 1200px, 1440px*/
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  h1 {
    font-size: 20px;
  }
  p,
  h3,
  .date {
    font-size: 13px;
  }
  .article-card {
    display: flex;
    /* width: 100%; */
    /* max-width: 730px; */
    width: 730px;
    height: 280px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    overflow: visible;
    /* padding: 1rem; */
    background-color: white;
    margin-top: 25%;
  }
  .article-content {
    display: flex;
  }
  .article-content .inner-article-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .drawer-img {
    width: 258px;
    height: 280px;
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
  }

  .profile-details {
    margin-left: -150px;
  }

  .share-btn {
    left: 150;
  }
  .active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  .social-links {
    width: 250px;
    justify-content: center;
    bottom: 4rem;
    right: -35rem;
    border-radius: 1rem;
    height: 50px;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: none;
  }

  .triangle {
    --width: 23px;
    width: 0;
    height: 0;
    border-left: var(--width) solid transparent;
    border-right: var(--width) solid transparent;
    border-top: var(--width) solid var(--very-dark-grayish-blue);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.9rem;
  }
}
