:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: white;
  --alice-blue: #ebf2fa;
  --Attribution-color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "manrope", sans-serif;
  background-color: #eaf1f7;
}
img {
  max-width: 100%;
}
ul,
li {
  list-style: none;
  text-decoration: none;
}
span {
  display: inline-block;
}

footer {
  color: var(--very-dark-grayish-blue);
  position: relative;
  padding-bottom: 5px;
}
.article-card {
  margin-inline: 1rem;
  margin-block: 2rem;
}

.card-container {
  max-width: 528px;
  margin-inline: auto;
  background-color: var(--white);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.drawer-image img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.article-content {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.article-content .inner-container {
  padding-inline: 1rem;
}

.article-content h1 {
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--very-dark-grayish-blue);
  font-weight: 800;
  margin-bottom: 1rem;
}

.article-content p {
  line-height: 1.6;
  color: var(--desaturated-dark-blue);
  margin-bottom: 2.5rem;
  font-weight: 500;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.user img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user .user-details {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.user .user-info h3 {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 600;
}

.user .user-info span {
  color: var(--desaturated-dark-blue);
}

.share-icon {
  --size: 45px;
  width: var(--size);
  height: var(--size);
  outline: none;
  border: none;
  background-color: var(--alice-blue);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  position: absolute;
  right: 0;
  top: -80%;
  transform: translateY(90%);
}

.share-icon img {
  --size: 23px;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  top: -1rem;
}

.icon-container {
  background-color: var(--very-dark-grayish-blue);
  display: flex;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 100px;
  width: 100%;
  position: absolute;
  padding-inline: 1rem;
  bottom: -8rem;
  transition: bottom 0.3s ease-in-out;
}

.icon-container .d-flex {
  display: flex;
  gap: 1rem;
}

.icon-container .social-icons {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.icon-container span {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--desaturated-dark-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.active {
  bottom: 0;
}

.share-active {
  background-color: #6e8098;
}

.share-active-img img {
  filter: brightness(10);
}

/* Responsive  Media queries */
/* Mobile size  390px - 600px*/
@media only screen and (max-width: 390px) {
  .article-card {
    margin-inline: 1rem;
    margin-block: 2rem;
  }

  .card-container {
    max-width: 528px;
    margin-inline: auto;
    background-color: var(--white);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }

  .drawer-image img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  .article-content {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .article-content .inner-container {
    padding-inline: 1rem;
  }

  .article-content h1 {
    font-size: 1.4rem;
    line-height: 1.4;
    color: var(--very-dark-grayish-blue);
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .article-content p {
    line-height: 1.6;
    color: var(--desaturated-dark-blue);
    margin-bottom: 2.5rem;
    font-weight: 500;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .user .user-details {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .user .user-info h3 {
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    color: var(--very-dark-grayish-blue);
    font-weight: 600;
  }

  .user .user-info span {
    color: var(--desaturated-dark-blue);
  }

  .share-icon {
    --size: 45px;
    width: var(--size);
    height: var(--size);
    outline: none;
    border: none;
    background-color: var(--alice-blue);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    position: absolute;
    right: 0;
    top: -80%;
    transform: translateY(90%);
  }

  .share-icon img {
    --size: 23px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    top: -1rem;
  }

  .icon-container {
    background-color: var(--very-dark-grayish-blue);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 100px;
    width: 100%;
    position: absolute;
    padding-inline: 1rem;
    bottom: -8rem;
    transition: bottom 0.3s ease-in-out;
  }

  .icon-container .d-flex {
    display: flex;
    gap: 1rem;
  }

  .icon-container .social-icons {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .icon-container span {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--desaturated-dark-blue);
  }
}

/* Tablet size 768px*/
@media only screen and (min-width: 391px) and (max-width: 768px) {
  .article-card {
    height: 100vh;
    display: grid;
    place-items: center;
    margin-block: 0;
  }

  .card-container {
    display: flex;
    gap: 1rem;
    overflow: visible;
  }

  .article-content {
    padding-right: 1rem;
    padding-bottom: 2rem;
    flex-basis: 60%;
  }

  .drawer-image {
    flex-basis: 40%;
  }

  .drawer-image img {
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 100%;
    object-fit: cover;
  }

  .icon-container {
    width: 250px;
    bottom: 6.5rem;
    right: -4rem;
    border-radius: 1rem;
    height: 50px;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  .active {
    transform: scale(1);
  }

  .icon-container .d-flex {
    justify-content: center;
    width: 100%;
  }

  .triangle {
    --width: 23px;
    width: 0;
    height: 0;
    border-left: var(--width) solid transparent;
    border-right: var(--width) solid transparent;
    border-top: var(--width) solid var(--very-dark-grayish-blue);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.9rem;
  }
}

/* Desktop size 992px, 1200px, 1440px*/
/* @media only screen and (min-width: 769px) and (max-width: 1440px) {
    
} */
